# Python byte-code
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
playschool.db

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
